
                            // PAGE ERROR 404
.error
  {
      color: #ff6060;
      height: 570px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 768px) 
        {
          height: 725px;
        }
    &_content
      {
        margin: 0 40px;
        text-align: center;
      }
    &_title
      {
        font-size: 96px;
        font-weight: 700;
        margin: 0;
         @media screen and (min-width: 768px)
           {
             font-size: 160px;
           }
         @media screen and (min-width: 992px) 
           {
             font-size: 288px ;
           }
        }
           
    &_txt
      {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        margin-top: 10px;
         @media screen and (min-width: 768px) 
           {
               font-size: 30px;
           }
         @media screen and (min-width: 992px) 
           {
               font-size: 36px;
          }
      }
            
    &_link
      {
        color: #ff6060;
        font-size: 14px;
        font-weight: 500;
        margin-top: 133px;
        @media screen and (min-width: 768px) 
          {
            font-size: 16px;
          }
        @media screen and (min-width: 992px) 
          {
            font-size: 18px;
          }
      }   
}
        
    
  
