.footer{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    img{
     width: 122px;
     height: 40px;
    filter:brightness(10)
    
    }
    p{
        font-size: 24px;
        margin: 0;
        line-height: 34px;
        padding: 4px;
    }
}