.home {
    margin: 4.5%;
    .home_banner{
      align-items: center;
    background: #ff6060;
    border-radius: 10px;
    color: #fff;
    // display: flex;
    margin: 0 0 20px;
    overflow: hidden;
    position: relative;
    
    @media screen and (min-width: 1200px) {
      justify-content: center;
      font-size: 48px;
      border-radius: 25px;
      margin: 0 0 40px;
      height: 223px;
    }
     img{
      height: 111px;
      // width: 335px;
      @media screen and (min-width: 768px) {
        height: 167px;
        
      }
      @media screen and (min-width: 1200px) {
        height: 223px;
        
      }
    }
  }
          
        
    
&_products {
  

    @media only screen and (min-width: 769px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 20px;
        margin-top: 40px;
        
      }
      @media only screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 50px;
        row-gap: 30px;
        background: #F7F7F7;
        padding: 50px;
        border-radius: 25px;
        margin-bottom: 40px;
      }
      @media only screen and (min-width: 1200px) {
        row-gap: 40px;
        column-gap: 60px;
      }
    }
    }
  