@import '../styles/NavBar.scss';
@import '../styles/Thumbnails.scss';
@import '../styles/HeroBanner.scss';
@import '../styles/Home.scss';
@import '../styles/About.scss';
@import '../styles/Tag.scss';
@import '../styles/Error.scss';
@import '../styles/Collapse.scss';
@import '../styles/SlideShow.scss';
@import '../styles/Logement.scss';


body{
    max-width: 1440px;
    margin: auto;
    position: relative;
    min-height: 100vh;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    background-color: white;
}



