@import '../styles/Navigation.scss';
@import '../styles/Thumb.scss';
@import '../styles/Banner.scss';
@import '../styles/Home.scss';
@import '../styles/About.scss';
@import '../styles/Tag.scss';
@import '../styles/Error.scss';
@import '../styles/Collapse.scss';
@import '../styles/SlideShow.scss';
@import '../styles/Logement.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
   margin: 0;
   font-family: 'Montserrat', sans-serif;
}



