.logement{
  margin: 0 20px;
  &_content{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
    &_left{
      &_title{
        font-weight: 500;
        font-size: 18px;
      }
      &_location{
        margin-top: .5rem;
        margin-bottom: 2rem;
      }
      &_tags{
        display: flex;
          gap: 10px;
          margin-bottom: 15px;
      }
    }
    }
    &_review{
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: 15px;
      &_host_info{
        align-items: center;
        display: flex;
         &_name{
          font-size: 12px;
          margin-right: 10px;
         text-align: end;
         }
         img{
          border-radius: 50%;
    height: 32px;
    width: 32px;
         }
      }

  }
}