
.inactive{
    color: #E3E3E3;
    color-scheme: #E3E3E3;
}
.rating{
    display: flex;
    align-items: center;
    margin-top: 37px;
    &_stars {
        margin-right: 5px;
        @media screen and (max-width: 768px) {
            height: 24px;
        }
        @media screen and (min-width: 1200px) {
            height: 30px;
        }   
        }     
        }